html {
    background: #000;
    box-sizing: border-box;
    cursor: default;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1 {
    color: #ececec;
    font-family: 'Great Vibes', cursive;
    font-size: 8vw;
    font-weight: normal;
    letter-spacing: 5px;
    margin: 0;
    text-shadow: 7px 7px 4px black;
}
.panel1 { background-image:url("images/1.jpg"); }
.panel2 { background-image:url("images/2.jpg"); }
.panel3 { background-image:url("images/3.jpg"); }
.panel4 { background-image:url("images/5.jpg"); }
.panel5 { background-image:url("images/6.jpg"); }
.panel6 { background-image:url("images/8.jpg"); }
.panel7 { background-image:url("images/9.jpg"); }
.panel8 { background-image:url("images/10.jpg"); }
.panel9 { background-image:url("images/15.jpg"); }
.panel10 { background-image:url("images/16.jpg"); }
.panel11 { background-image:url("images/18.jpg"); }
.panel12 { background-image:url("images/19.jpg"); }            
.panel13 { background-image:url("images/20.jpg"); }
.header-div {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 40vh;
    width: 100vw;
}
.header {
    align-items: center;
    background-color: #222222aa;
    display: flex;
    height: 5vw;
    justify-content: center;
    position: absolute;
    bottom: 20vh;
    width: 100vw;
    z-index: 1;
}
.panel {
    align-items: center;
    background-position: center;
    background-size: cover;
    border-left: 2px solid;
    border-right: 2px solid;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    transition: flex 2.5s;
}
.panel:hover {
    box-shadow: inset 0px 0px 10px 2px white;
}
.panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.panel.open {
    flex: 60vw;
}